<h3>Клиент <%= @client.name %></h3>
<p>Телефон: <%= @client.phone %></p>
<p>Записан на: <%= @client.datestamp %></p>
<p>Мастер: <%= @client.barber %></p>
<p>Дата записи: <%= @client.created_at %></p>
